<% if post.comments.empty? %>
  <p>No comments yet.</p>
<% else %>
  <ul class= "border-black">
    <%# If there are comments, display them inside an unordered list element. %>
    <% post.comments.includes(:author).each do |comment| %>
      <li><%= "#{comment.author.name}: #{comment.text}" %></li>
    <% end %>
  </ul>
<% end %>