<div>
  <%= form_with url:@post_likes_path, method: :post, local: true do |form| %>
    <%= form.hidden_field :author_id, value: @post.author.id %>
    <%= form.hidden_field :post_id, value: @post.id %>
    <%= form.submit "Like", disable_with: "Updating likes..." %>
  <% end %>
</div>