<!-- Adds a stylesheet link to a CSS file -->
<link rel="stylesheet" href="/assets/user.css">

<!-- Creates a section for user information -->
<div class="user">
  <%= image_tag('user.jpg', alt: 'User', class: 'user__image') %>
  
  <!-- Displays user information together with number of posts-->
  <div class="user__info">
    <h2><%= link_to(user.name, user_path(user)) %></h2>
    <p>Number of Posts: <%= user.posts_counter || 0 %></p>
  </div>
</div>