.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 30px;
  padding: 10px 0;
  margin: 20px 0;
}

.user__image {
  width: 120px;
  height: 120px;
}

.user__info {
  display: flex;
  flex-direction: column;
  width: 85rem;
  height: calc(80px - 10px);
  gap: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 5px 15px;
}

.user__info h2 {
  margin: 0;
}

.user__info p {
  text-align: end;
  margin-right: 50px;
}
